.button, .form-section button, form input, h1, p {
  font-weight: var(--font-weight-bold)
}

#particles-js, .button {
  max-width: var(--full-width-size)
}

body, form input {
  font-family: var(--font-manrope);
  font-style: var(--font-style-normal)
}

.form-section button:active, .form-section button:focus, .form-section button:hover, form svg {
  cursor: pointer
}

:root {
  --font-manrope: Manrope, sans-serif;
  --font-weight-bold: 600;
  --font-style-normal: normal;
  --color-black: #000;
  --color-white: #fff;
  --color-eucalyptus: #8a2af8;
  --text-size: 20px;
  --text-line-height: 27px;
  --padding-size: 40px;
  --base-font-size: 16px;
  --full-width-size: 100%;
  --column-gap-size: 32px
}

body {
  background: var(--color-white);
  font-size: 16px
}

h1 {
  font-size: var(--padding-size);
  line-height: 55px;
  margin: 69px 0 66px;
  max-width: 814px
}

.form-section button, form input, p {
  font-size: var(--text-size);
  line-height: var(--text-line-height)
}

.header {
  display: flex;
  justify-content: space-between
}

#particles-js {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%
}

p {
  color: var(--color-black);
  margin: 0
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  font-size: 23px;
  line-height: 31px;
  padding: var(--text-size) var(--padding-size);
  text-transform: capitalize;
  text-decoration: none
}

.black, .white {
  border-color: var(--color-black)
}

.form-section button, form input {
  border: 0;
  border-radius: 0
}

.hide {
  display: none
}

.black {
  background: var(--color-black);
  color: var(--color-white);
  margin-bottom: var(--text-size)
}

.black:active, .black:focus, .black:hover {
  background: var(--color-eucalyptus);
  border-color: var(--color-eucalyptus)
}

.white {
  background: var(--color-white);
  color: var(--color-black)
}

.white:active, .white:focus, .white:hover {
  color: var(--color-eucalyptus);
  border-color: var(--color-eucalyptus)
}

.paragraph-section {
  display: grid
}

.paragraph-1 {
  grid-area: first
}

.paragraph-2 {
  grid-area: second
}

.paragraph-3 {
  grid-area: third
}

.buttons-section {
  grid-area: buttons
}

.paragraph-4 {
  grid-area: fourth
}

.footer {
  display: flex;
  margin-top: 76px
}

.form-section {
  display: grid;
  grid-template-columns:var(--text-line-height) 97px;
  grid-template-rows:var(--text-line-height) 1fr;
  justify-items: baseline;
  align-items: center
}

.form-section > svg {
  grid-column: 1/2;
  margin-right: 8px;
}

.form-section button {
  grid-column: 2/3;
  background: 0 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: var(--color-black);
  font-family: var(--font-manrope)
}

.form-section form {
  grid-column: 1/3;
  width: 238px;
  position: relative
}

form input {
  padding: 0 22px 0 0;
  border-bottom: 1px solid var(--color-black);
  outline: 0;
  appearance: none;
  -webkit-appearance: none
}

form svg {
  position: absolute;
  right: -22px;
  top: 3px
}

form input::placeholder {
  opacity: .5
}

@media screen and (min-width: 1200px) {
  .paragraph-section {
    column-gap: 89px;
    grid-template-areas:"first third buttons" "second fourth buttons"
  }

  .buttons-section {
    margin-left: var(--text-size)
  }
}

@media screen and (max-width: 1199px) and (min-width: 991px) {
  .paragraph-1 {
    margin-bottom: var(--column-gap-size)
  }

  .buttons-section {
    margin-top: var(--column-gap-size)
  }

  .paragraph-section {
    grid-template-areas:"first third" "second fourth" "buttons buttons";
    justify-items: center;
    column-gap: 40px
  }
}

@media screen and (max-width: 990px) {
  .paragraph-section {
    grid-template-areas:"first" "second" "third" "fourth" "buttons" "buttons";
    justify-items: center;
    row-gap: var(--column-gap-size)
  }

  .button, p[class*=paragraph] {
    font-size: var(--base-font-size);
    width: var(--full-width-size)
  }

  .buttons-section {
    width: var(--full-width-size);
    display: flex;
    flex-wrap: wrap
  }

  .logotype svg {
    width: 238px;
    height: 198px
  }

  #particles-js {
    height: 22%
  }
}

@media screen and (min-width: 991px) {
  body {
    margin: var(--padding-size) 44px
  }

  .logotype svg {
    width: 354px;
    height: 250px
  }

  .paragraph-1 {
    margin-bottom: var(--padding-size)
  }

  .button {
    width: 352px
  }

  #particles-js {
    height: 55%
  }

  .paragraph-4 {
    margin-top: -27px
  }
}

@media screen and (min-width: 768px) {
  .black {
    margin-bottom: var(--text-size)
  }

  @supports (display:flex) and (column-gap:16px) {
    .footer {
      column-gap: 79px
    }
  }@supports not ((display:flex) and (column-gap:16px)) {
  .footer > p {
    margin-right: 79px
  }
}
}

@media screen and (max-width: 767px) {
  .black {
    margin-bottom: var(--base-font-size)
  }

  body {
    margin: 47px 20px 32px
  }

  .logotype svg {
    width: 138px;
    height: 98px
  }

  .form-section form {
    margin-right: 22px
  }

  .form-section {
    grid-template-columns:var(--text-line-height) 83px;
    justify-items: end;
    margin-top: -3px
  }

  h1 {
    font-size: var(--text-line-height);
    line-height: 37px;
    margin: 44px 0 38px
  }

  p {
    font-size: var(--base-font-size);
    line-height: 22px
  }

  .button {
    font-size: 18px;
    line-height: 25px;
    padding: 17px var(--padding-size)
  }

  .footer {
    margin-top: 34px
  }

  .form-section button {
    font-size: 17px;
    line-height: 23px
  }

  @supports (display:flex) and (column-gap:16px) {
    .footer {
      column-gap: var(--column-gap-size);
      justify-content: space-between
    }
  }@supports not ((display:flex) and (column-gap:16px)) {
  .footer > p {
    margin-right: var(--column-gap-size)
  }
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  body {
    margin: 56px 60px
  }
}
